body {
    font-family: monospace;
    text-align: center;
    padding: 30px 30px 10px 30px;
    background-color: #6b6570;
    color: #ace894;
  }
  
  div {
    margin-top: 20px;
    margin-bottom: 20px; 
  }
  
  header {
    font-size: 50px;
  }
  
  footer {
    font-size: 20px;
    line-height: 25px;
    margin-top: 40px;
    margin-left: 25%;
    margin-right: 25%;
  }
  
  #entryBox {
      font-size: 20px;
      display: flex;
      justify-content: center;
  }

  textarea {
    font-family: inherit;
    font-size: inherit;
    color: #4a314d;
    background-color: #a8ba9a;
    height: 500px;
    width: 500px;
    line-height: 1.7em;
    resize: none;
    scrollbar-width: none;
  }

  #resultsBox {
      font-size: 20px;
      white-space: pre-line;
      margin-top: 0px;
      color: #4a314d;
      background-color: #b3b8b0;
      height: 505px;
      width: 500px;
      text-align: left;
      line-height: 1.7em;
      scrollbar-width: none;
  }