body {
    font-family: Roboto;
    text-align: center;
    padding: 30px 30px 10px 30px;
    background-color: #6b6570;
    color: #ace894;
  }
  
  div {
    margin-top: 20px;
    margin-bottom: 20px; 
  }
  
  header {
    font-size: 50px;
  }
  
  footer {
    font-size: 20px;
    line-height: 25px;
    margin-top: 40px;
  }
  
  #entryBox {
      font-size: 30px;
      display: flex;
      justify-content: center;
  }

  textarea {
    font-family: inherit;
    font-size: inherit;
    color: #4a314d;
    background-color: #a8ba9a;
  }

  #resultsBox {
      font-size: 30px;
      white-space: pre-line;
      margin-top: 0px;
  }